* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Yeseva One";
    src: url(../Fonts/Yeseva_One/YesevaOne-Regular.ttf);
    /* font-weight: bold; */
}

:root {
    --lightGray: rgba(0, 0, 0, 0.6);
}

body {
    --fontcolor: black;
    --maincolor: white;
    --textfont: 'Poppins', sans-serif;
    --headerfont: 'Yeseva One', serif;
    --paragrahcolor: #585858;
    --mainheight: 80vh;
    --secondaryheight: 45vh;
    --sectionpadding: .7rem;

}

html {
    font-size: 14px;
}

::selection {
    background-color: var(--fontcolor);
    color: var(--maincolor);
}

/* some repeated classes*/
.buttonshape {
    background-color: transparent;
    border: 1px solid var(--fontcolor);
    padding: 5px 10px;
    transition: all 0.5s;
    font-size: 12px;
    font-weight: 600;
}

.buttonshape:hover {
    background-color: var(--fontcolor);
    color: var(--maincolor);
}

.headfont {
    line-height: 1em;
    font-family: var(--headerfont);
    color: var(--fontcolor);
}

.textfont {
    font-size: 19px;
    color: var(--paragrahcolor);
    font-family: var(--textfont);
    font-weight: 300;
}

/* end of some repeated classes*/

#cart-icon {
    position: relative;
}

#cart-items-count {
    position: absolute;
    top: -15px;
    right: -5px;
}

/* About */
header {
    background-image: url(../images/about_header_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 65vh;
}

#homepage-header nav {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.contactWord {
    justify-items: center;

}

.contactWord h1 {
    font-family: "Yeseva One";
    font-size: 7rem;

}



@media all and (max-width:950px) {
    .contactWord h1 {
        font-size: 5rem;
    }

    .aboutInfo .hugeHead,
    .aboutInfo p {
        text-align: center;
    }

    .divh1P {
        flex-wrap: wrap;
    }

}
.aboutInfo .hugeHead {
    /* font-size:110px; */
    font-size: 80px;
    font-family: "Yeseva One";
    width: 500px !important;
}
/* @media all and (max-width:1100px) {
    .aboutInfo .hugeHead {
        font-size: 66px !important;
    }

} */

.aboutInfo p {
    max-width: 600px;
    line-height: 2.5rem;
    font-size: 17px;

}

.justImg {
    background-image: url(../images/about-section.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 75vh;
}

/* start of our vision section */
.ourVision h1 {
    position: relative;
    top: 8%;
    font-size: 7rem;

    font-family: "Yeseva One";
}
body{
    overflow-x: hidden;
}
.ourVision h4,
.ourVision h2 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;

}

.ourVision h2 {
    line-height: 1.5;
    font-size: 2.2rem;
}

.ourVision h4 {
    font-size: 0.875rem;
}

.ourVision .rightHandSide p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    color: var(--lightGray);
    word-spacing: 2px;
    width: auto;
    
}
.leftHandSide img{
    max-width:550px; 
    max-height:550px; 
}
@media  all and (max-width:990px)and (min-width:762px){
    /* .aboutInfo .hugeHead {
        font-size: 66px !important;
    } */
    .leftHandSide img{
         width: 300px;
    }
    .ourVision h1 {
        font-size: 6.5rem;
    }
    .ourVision .rightHandSide p, .ourVision .rightHandSide h2, .ourVision .rightHandSide h4{
        width: 100% !important;
        
    }
}
@media  all and (orientation: portrait){
    .leftHandSide img{
        text-align: center;
        margin-left: 20%;
         width: 250px;
    }
    .ourVision h1 {
        text-align: center;
        font-size: 5rem;
    }
    .ourVision .rightHandSide p, .ourVision .rightHandSide h2, .ourVision .rightHandSide h4{
        width: 100% !important;
        
    }
}

/* start of footer */
.ProductFeatures {
    text-align: center;
}

.ProductFeatures .feature {
    border: 1px solid #eee;
    font-family: "Poppins", sans-serif;
}

.ProductFeatures .feature p {
    font-size: 16px;
    font-weight: 500;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--lightGray);
}

.ProductFeatures .feature h5 {
    text-transform: uppercase;
    font-weight: 700;
}

footer {
    background-color: #f1f1f1;
}

footer ul {
    list-style: none;
}

footer li {
    line-height: 200%;
    /* font-weight: 500; */
}

footer h3 {
    text-transform: uppercase;
}

footer a,
footer a:hover {
    text-decoration: none;
    color: black;
}

.logo,
.about,
.links,
.contacts {
    text-align: left;
}

@media all and (max-width:1000px) {

    .logo,
    .about,
    .links,
    .contacts {
        text-align: center;
    }
}

footer .cpyright {
    border-top: 2px solid #eee;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

footer .cpyright a {
    text-decoration: none;
    background-color: white;
    padding: 10px;
    font-size: 1rem;
    color: inherit;
    line-height: 1;
    justify-content: center;
    align-items: center;
}

footer .cpyright p,
footer .contacts li {
    color: var(--lightGray);
}

/* start of ali parts*/

.cartButton{
    margin: 10px;
    padding: 10px;
}
.cartButton:hover{
    background-color: var(--fontcolor);
    color: var(--maincolor);
}

.QuantityValue{
    width: 50px; 
    border: 1px solid var(--paragrahcolor);
    background-color: rgb(238, 231, 231);
    appearance:textfield;
    -webkit-appearance: textfield;
    
}


.QuantityValue::-webkit-inner-spin-button,
.QuantityValue::-webkit-outer-spin-button,
.QuantityValue {
    -webkit-appearance: none;
    margin: 0;
}

.CartItemDetails{margin-left: 15%;
text-align: center;}




.Cart-Content{height: 100vh;
    border-radius: 0%;
    
   }
   .Cart-dialog{
    margin: 0% 0% 0% 0%;
    float: right;
    width: 100%;
   }


   .Item{
    margin-top: 10px;
   }

   
   @media (max-width: 375px) {
    .CartItemDetails {
        margin-left: 7%;
    
    }}
/* end of ali parts*/
