/* CSS for placing the eye icon inside the password input field border */
.Tform {
    position: relative;
}

.Tshowpass{
    padding-top: 7px;
}

.TChangPass{
    width: 50px;
    border-radius: 10% !important;
    background-color: white;
}
.TChangPass:hover{
    background-color: rgb(96, 223, 96);
}