:root {
    --LightBorder: 2px solid #eee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    height: 100vh;
    position: fixed;
    border-right: var(--LightBorder);
    background-color: #eee;
    z-index: 1;
}

.sidebar .sidebar-links {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #96999b;

}
.navbar-nav .active,
.nav-item:hover {
    background-color: #eee;
    font-weight: 600;
    color: black;
}


#sidebar {
    transition: all 0.3s;
}

#content {
    transition: margin-left 0.3s;
}

.sidebar.collapsed {
    width: 90px;
}
.sidebar.collapsed .nav-link .sidebar-text {
    display: none;
}

.sidebar.collapsed .logo img {
    max-width: 80px;

}

.sidebar.collapsed .logo {

    padding-left: 0 !important;
    padding-right: -100px !important;
}

.sidebar.collapsed .nav-link i {
    margin-right: 0;
}


.sidebar.collapsed .nav-link {
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sidebar.collapsed .nav-link i {
    margin-right: 0;
}

#content.collapsed {
    margin-left: auto !important;
  
}


/* ********************** */
.adminSearchRow .backBtn {
    text-decoration: none;
    color: #96999b;
    font-size: 1.2rem;
    font-weight: 600;
}

.adminSearchRow .backBtn:hover {
    color: black;
}

.adminImgANDNot {
    display: flex;
    justify-content: flex-end;
}

.adminImgANDNot img {
    max-width: 50px;
}

.notifications>a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem !important;
    align-items: center;
    align-self: center;
    border: 1px solid lightgray;
    background-color: #eee;
}

.adminImgANDNot img,
.notifications>a {
    border-radius: 50%;

}

.cursorPointer {
    cursor: pointer !important;
}

table img {
    max-width: 70px;
    border-radius: 50%;
}

.entryRows {
    display: flex;
    justify-content: space-between;
}

#tbodyUsers tr td:nth-child(4) {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#tbodyUsers tr td .btn>i:hover {
    color: white !important;
}
@media (max-width: 992px) {
    .sidebar .sidebar-links {
        font-size: 1rem;
    }

    .adminImgANDNot img {
        max-width: 40px;
    }

    .notifications > a {
        font-size: 1rem !important;
    }
}

@media (max-width: 768px) {
    #sidebarToggle {
        display: none;
    }

    .offset-xl-2 {
        margin-left: 0 !important;
    }
    
}


/* content */

.heigh{
    height: 20vh;
}
.inside{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 10px #ddd;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inside h3{
    font-size: 2.2rem;
    padding:20px  20px 0px;
}
.inside p{
    font-size: 1.6rem;
    padding:0 20px ;
}
.inside .icons{
    font-size: 5vw;
    position: absolute;
    top: 3%;
    right: 5%;
    transition: all .5s;
}
.inside:hover .icons{
    transform: scale(1.2);
}
.inside a{
    display: block;
    background-color: rgba(0,0,0,.1);
    align-self: bottom;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: all .5s;
}
.inside a:hover{
    background-color: rgba(0,0,0,.3);

}

canvas{
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    background-color: #EAECCC;
}




.seconed{
    height: 30vh;
}
.third{
    height: 32vh;
}