*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --fontcolor:black;
    --maincolor:white;
    --textfont:'Poppins', sans-serif;
    --headerfont:'Yeseva One', serif;
    --paragrahcolor:#585858;
    --mainheight:80vh;
    --secondaryheight:45vh;

}

::selection {
    background-color: var(--fontcolor);
    color: var(--maincolor);
  }


  
  /* some repeated classes*/ 
.buttonshape{
    background-color: transparent;
    border: 1px solid var(--fontcolor);
    padding: 5px 10px;
    transition: all 0.5s;
    font-size: 12px;
    font-weight: 600;
}
.buttonshape:hover{
    background-color: var(--fontcolor);
    color: var(--maincolor);
}
.headfont{
    line-height: 1em;
    font-family: var(--headerfont);
    color: var(--fontcolor);
}
.textfont{
    font-size: 12px;
    color: var(--paragrahcolor);
    font-family: var(--textfont);
    font-weight: 300;
}

/* end of some repeated classes*/ 



/* section two abdellatief */

#sectiontwo{
    padding: .5rem;
}

#sectiontwo div:first-of-type{
    margin: 0 0 -10px;
}
#sectiontwo div:first-of-type div{
   padding: 20% 7% 20% 20%;
}

#sectiontwo div:nth-child(2){
    height: var(--mainheight);
    background-image: url(../images/homepage/about-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#sectiontwo div:nth-child(3){
    height: var(--mainheight);
    background-image: url(../images/homepage/about-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 767.99px)  {
    #sectiontwo div:nth-child(2),#sectiontwo div:nth-child(3){
        height: var(--secondaryheight);
    }
    #sectiontwo div:first-of-type div{
        padding: 20% 7% 20% 0%;
     }
}



/* the end of section two abdellatief */

/* section three abdellatief */

#sectionthree{
    height: 80vh;
    background-image: url(../images/homepage/bg-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#sectionthree div:first-of-type div{
    padding: 20% 14%;
}
@media screen and (max-width: 767.99px)  {
    
    #sectionthree{
        background-position: center left;
        height: var(--secondaryheight);
    }

}
/* end of section three abdellatief */

/* section four abdellatief */

#sectionfour{
    padding: .5rem 0px;
}
#sectionfour>div:first-of-type{
    background-image: url(../images/homepage/bg-02.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#sectionfour>div:nth-child(2){
}
#sectionfour>div:nth-child(2) div{
    padding: 20% 20% 15%;
}
#sectionfour>div:nth-child(2) div>div:first-of-type{
    text-align: center;
    padding: 0 0 20px;
    margin: 0 0 10px;
}
#sectionfour>div:nth-child(2) div>div img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    display: inline-block;
}
#sectionfour>div:nth-child(2) div h4{
    font-weight: 700;
    color: black;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
#sectionfour .textfont{
    margin-bottom: 20px;
}
@media screen and (max-width: 1024px)  {
    
    #sectionfour>div:nth-child(2) div{
        padding: 0;
    }
}
@media screen and (max-width: 767.99px)  {
    
    #sectionfour>div:first-of-type{
        height: var(--secondaryheight);
    }
    #sectionfour>div:nth-child(2)>div {
        margin: -80px 0 0 0;
        padding: 0 15% 15% 15%;
    }
}

/* end of section four abdellatief*/


/* section five abdellatief */

#sectionfive{
    padding: 10% ;
}
#sectionfive h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
}
#sectionfive h1{
    padding-bottom: 5%;
}
#sectionfive .checked{
    color: orange;
}
#sectionfive p:first-of-type{
    line-height: 1.5rem;
    color: var(--fontcolor);
    padding-top: 2%;
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
}
#sectionfive p:last-of-type{
    padding-bottom: 5%;
}
@media screen and (max-width: 767.99px){
    #sectionfive{
        padding: 0% 0 ;
    }
}

/* end of section five abdellatief*/