
#logo-image{
    left: 50%;
    transform: translateX(-50%);
}

#search-results{
    top: 45px;
    width: 300px;
    height:auto;
    background-color: white;
    border: .5px solid gray;
    
}
#search-results>div{
    
    border-bottom: .5px solid rgb(214, 210, 210);
}
#search-results div:hover{
    cursor: pointer;
    background-color: rgb(166, 162, 162);
}

#search-results img
{
    width: 50px;
    height: 50px;
}

.search-result-item{
    width: 100%;
}

@media (max-width:425px){
    

    #header-right-section{
        font-size: 9px;
    }

    body > header > nav{
        font-size: 10px;
        width: 50%;
    }

    /* body > div > header > nav > div > a > img
    {

    } */
}

@media (max-width: 671px)
{
    #navbarSupportedContent{
        width: 40px !important;
    }
}
