body
{
    position: relative;
}

#product-details-section{
    width: 90%;
    margin: auto;
}

#product-photo{
    box-sizing: border-box;
}

#product-photo>div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#product-photo>div>svg{
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: white;
    padding: 8px;
    cursor: pointer;

}

#product-photo>div>img{
    width: 400px;
    height: 400px;
    position: relative;
    transform: scale(1);
}

#product-preview-div{
    position: absolute;
    top: 30px;
    right: 1px;
    width: 200px;
    height: 200px;
}


.miniImage{
    width: 80px;
    height: 80px;
}

#buttons-and-preview-div{
    position: relative;
}

#bottom-product-counter{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    box-shadow: 0px -10px 10px rgba(78, 74, 74, 0.5);
}

@media (max-width:500px) {
    #product-photo>div>img{
        width: 200px;
        height: 200px; 
    }

    /* #image1, #image2, #image3 {
        background-size: contain;
    } */

}

@media (max-width:425px) {
    #product-preview-div{
        right: -90px;
        top: 40px;
    }
}

#logo-image{
    left: 50%;
    transform: translateX(-50%);
}

/* @media (max-width: 991px){
    ul>li{
        width: 10   0vw;
        background-color: red;
    }
} */










/* start of ali parts*/

.cartButton{
    margin: 10px;
    padding: 10px;
}
.cartButton:hover{
    background-color: var(--fontcolor);
    color: var(--maincolor);
}

.QuantityValue{
    width: 50px; 
    border: 1px solid var(--paragrahcolor);
    background-color: rgb(238, 231, 231);
    appearance:textfield;
    -webkit-appearance: textfield;
    
}


.QuantityValue::-webkit-inner-spin-button,
.QuantityValue::-webkit-outer-spin-button,
.QuantityValue {
    -webkit-appearance: none;
    margin: 0;
}

.CartItemDetails{margin-left: 15%;
text-align: center;}




.Cart-Content{height: 100vh;
    border-radius: 0%;
    
   }
   .Cart-dialog{
    margin: 0% 0% 0% 0%;
    float: right;
    width: 100%;
   }


   .Item{
    margin-top: 10px;
   }

  
   @media (max-width: 430px) {
    .CartItemDetails {
        margin-left: 3%;
    
    }}
   @media (max-width: 375px) {
   
   
    .CartItemDetails {
        margin-left: 0%;
    
    }
        .QuantityValue{
            width: 30px; 
          
            
        }
        

}
/* end of ali parts*/
