* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo-image{
    left: 50%;
    transform: translateX(-50%);
}

body {
    --fontcolor: black;
    --maincolor: white;
    --textfont: 'Poppins', sans-serif;
    --headerfont: 'Yeseva One', serif;
    --paragrahcolor: #585858;
    --mainheight: 80vh;
    --secondaryheight: 45vh;
    --sectionpadding: .7rem;

}



::selection {
    background-color: var(--fontcolor);
    color: var(--maincolor);
}



/* some repeated classes*/
.buttonshape {
    background-color: transparent;
    border: 1px solid var(--fontcolor);
    padding: 5px 20px;
    transition: all 0.5s;
    font-size: 12px;
    font-weight: 600;
}

.buttonshape:hover {
    background-color: var(--fontcolor);
    color: var(--maincolor);
}

.headfont {
    line-height: 1em;
    font-family: var(--headerfont);
    color: var(--fontcolor);
}

.textfont {
    font-size: 12px;
    color: var(--paragrahcolor);
    font-family: var(--textfont);
    font-weight: 300;
}

/* end of some repeated classes*/

/* sharkawy part */

header .bg-body-tertiary {
    background-color: transparent !important;
}

#page-body {
    position: relative;
    margin: 0 -.7rem;

}

#header-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;

    margin-left: 5%;
}

#header-text::selection {
    color: var(--maincolor);
    background: var(--fontcolor);
}

#header-text h2 {
    font-size: 6vw;
    width: 60%;
    font-family: var(--headerfont);
    line-height: .9;
}

#header-text p {
    width: 60%;
    font-size: 1.5vw;

}

#header-text button {
    width: 120px;
    padding: 10px;
}

#cart-icon {
    position: relative;
}

#cart-items-count {
    position: absolute;
    top: -15px;
    right: -5px;


}

#header-logo {
    margin-left: 140px;
}

@media (max-width:950px) {
    #header-text h2 {
        font-size: 60px;
    }

    #header-text p {
        font-size: 20px;
    }
}

@media (max-width:768px) {
    #header-logo {
        margin: auto;
    }
}

@media (max-width:500px) {
    #header-text h2 {
        font-size: 30px;
    }

    #header-text p {
        font-size: 10px;
    }

    #imgContainer img {
        display: none;
    }
}

#logo-image{
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width:768px) {
    #header-text {
        /* top: 80%; */
        margin-left: 0;
        margin-top: 25%;
    }
}


/* products section */ 
.wrapperContainer{
    display: flex;
    align-items: center;
    width: 80%;
    margin:50px auto;
    justify-content: space-between;
}

.carousel-inner{
    width:100%;
    height: 600px !important;

}
.orderby{
    color: #666;
    height: auto;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    padding: .8em 0px;
    line-height: normal;
    border-radius: 3%;
}

.ast-shop-toolbar-aside-wrap{
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    line-height: normal;
    display: flex;
}

 .add-to-cart{
    opacity: 1;
    color: #FF9BD2 ;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 10px;
    border-color: #402B3A; 
}

.product:hover .add-to-cart{ opacity: 1; 
    color:white;
    background-color: #402B3A;
  }
.product .productname{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
    color:#D63484;
}
.product-image{
    overflow: hidden;
    cursor: pointer;
}
.product-image:hover .productImage{
    opacity: 1;
    transform: scale(1.5);
    transition: all 3s;
  
}
.product-links li {width: 50px; height: 40px; }
.product .productname a{ color: #444; }
.product:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.15),10px 10px rgba(0,0,0,0.05); }
.product .product-links li a{
    color: #444;
}
.product .product-links li:hover{
    color: #fff;
    background-color: #402B3A;
    
}
#products ,#product-container {
    width: 100%;
    display: flex;
    gap: 50px 0px;
    justify-content: space-evenly; 
    align-items: center; 
    flex-wrap: wrap;
    
}
.product {
    display: flex;
    flex-direction: column; 
    width: 24%; 
    
}

.product-info {
    margin-top: 20px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: 100%;
    min-height: 20vw;
    top: 0;
    left: 0;
    transition: transform 3s;
}
.woman-name{
    font-size:15vh;
}
.carousel-caption{
    right: 60% !important;
    bottom: 50%;

}
/*.stars {
    margin-top: 5px;
    font-size: .857em;
    display: inline-block;
    text-align: left;
}*/

/*.stars i{
    color: transparent;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #555; 
}*/

.price {
    color: #402B3A;
    text-align: center;
    font-size:medium;
    font-size: 16px;
    font-weight: 700;
    
}
.product-links{
display: flex;

justify-content:center;
align-items: center;
bottom: -42px;
background-color: #d0d7d7a0;
width:100%;
height: 12%;

}
.offer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    color: green;
    font-weight: bold;
    z-index: 2;
}
.out-of-stock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E9A8F2;
    padding: 10px;
    color: #5F0F40;
    font-weight: bold;
    font-size: 18px;
    z-index: 2; 
    border-radius: 25%;
}
.product-image{

max-height: 350px;
}  
.productImage {
    width: 100%;
    height: 100%;
}
.carousel-item{
    height: 100%;
}
.carousel-item img{
    height: 100% !important;
}
/* Media query for small screens */
@media (max-width: 768px) {
    .womanpage-body{
        padding: 0px;
        margin: 0px;
    }
    .carousel-inner{
        height: 360px;
    }
    .product-image{
        justify-content: center;
        width: auto;

    }
    .woman-name{
        font-size: 2rem;
    }
    
    #page-body{
        
        padding: 0px;
    }
    .orderby{
        width: 120px;
        margin: 0px;
    }
    .product{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #products {
        text-align: center;
        align-items: center;
    }
}

footer {
    background-color: #f1f1f1;
    margin: -.7rem;

}

footer ul {
    list-style: none;
}

footer li {
    line-height: 200%;
    /* font-weight: 500; */
}

footer h3 {
    text-transform: uppercase;
}

footer a,
footer a:hover {
    text-decoration: none;
    color: black;
}

.logo,
.about,
.links,
.contacts {
    text-align: left;
}
@media all and (max-width:1000px) {

    .logo,
    .about,
    .links,
    .contacts {
        text-align: center;
    }
}

footer .cpyright {
    border-top: 2px solid #eee;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

footer .cpyright a {
    text-decoration: none;
    background-color: white;
    padding: 10px;
    font-size: 1rem;
    color: inherit;
    line-height: 1;
    justify-content: center;
    align-items: center;
}

footer .cpyright p,
footer .contacts li {
    color: var(--lightGray);
}

@media  (maxmax-width:335px) {

    
}

   
   
/* start of ali parts*/

.cartButton{
    margin: 10px;
    padding: 10px;
}
.cartButton:hover{
    background-color: var(--fontcolor);
    color: var(--maincolor);
}

.QuantityValue{
    width: 50px; 
    border: 1px solid var(--paragrahcolor);
    background-color: rgb(238, 231, 231);
    appearance:textfield;
    -webkit-appearance: textfield;
    
}


.QuantityValue::-webkit-inner-spin-button,
.QuantityValue::-webkit-outer-spin-button,
.QuantityValue {
    -webkit-appearance: none;
    margin: 0;
}

.CartItemDetails{margin-left: 15%;
    margin-top: 10px;
text-align: center;
}




.Cart-Content{
    /* height: 100vh; */
    border-radius: 0%;
    
   }
   .Cart-dialog{
    margin: 0% 0% 0% 0%;
    float: right;
    width: 100%;
   }


   .Item{
    margin-top: 10px;
   }

   @media (max-width: 430px) {
    .CartItemDetails {
        margin-left: 3%;
    
    }}
   @media (max-width: 375px) {
   
   
    .CartItemDetails {
        margin-left: 0%;
    
    }
        .QuantityValue{
            width: 30px; 
            
        }
        

}
   /* end of ali parts*/
